---
---
{% include header.html %}
	{% include nav.html %}

	<div class="container" id="top">
		<h2>About Us</h2>
		<p>Amaltaas develops and publishes entertaining and educational mobile apps that work for kids and adults alike. Founded by a team of passionate engineers and illustrators, Amaltaas creates truly meaningful digital experiences beloved and respected by kids, parents, and educators. We serve communities that are usually overlooked due to market-driven economics.</p>
    <p>We can be found on:<br/>
      Facebook: <a href="https://www.facebook.com/amaltaaskids">https://www.facebook.com/amaltaaskids</a><br/>
      Twitter: <a href="https://twitter.com/amaltaaskids">https://twitter.com/amaltaaskids</a><br/>
      Google+: <a href="https://plus.google.com/+amaltaaskids">https://plus.google.com/+amaltaaskids</a><br/>
    </p>
	</div>
{% include footer.html %}
