---
---
{% include header.html %}
	{% include nav.html %}

	<div class="container" id="top">
		<h2>Download</h2>
		<ul class="applist">
			<li><a href="https://play.google.com/store/apps/details?id=com.amaltaas.alphabet.hi" style="background-image: url(files/ic_launcher_hi.png)"/>Hindi</a></li>
			<li><a href="https://play.google.com/store/apps/details?id=com.amaltaas.alphabet.mr" style="background-image: url(files/ic_launcher_mr.png)"/>Marathi</a></li>
			<li><a href="https://play.google.com/store/apps/details?id=com.amaltaas.alphabet.hi" style="background-image: url(files/ic_launcher_pu.png)"/>Punjabi</a></li>
			<li><a href="https://play.google.com/store/apps/details?id=com.amaltaas.smarty" style="background-image: url(files/ic_smarty.png)"/>Smarty</a></li>
		</ul>
	</div>
{% include footer.html %}
