---
---
{% include header.html %}
	{% include nav.html %}
	<header>
		<div class="container" id="top">
			<h1>Apps for Kids and Adults</h1>
			<p>Fun for ages 2 to 12 and beyond.</p>
			<a href="" rel="prettyPhoto"><img src="files/hero.png" alt="" class="vidloader"></a>
		</div>
	</header>

	<hr/>

	<!-- <div class="container">
		<div id="search">
			<h1>All Applications</h1>
			<div id="search-input">
				<span id="searchlabel">Jump To</span>
				<span id="searchbtn">Select App</span>
			</div>
		</div>
	</div> -->

	<div class="container">
		<div class="column">
			<h2><span class="badge">3+</span> Language learning for young kids</h2>
			<p>This delightful little app arranges letters as a sequence of cards. Each card is illustrated and is accompanied by audio for pronunciation. The interface is so easy, even your child can use it.</p>
				<ul>
					<li> 4 sets of cards: Alphabet, Animals, Colors and Numbers</li>
					<li> Look up a word's pronunciation and meaning</li>
					<li> Record your own voice to replace the built-in audio</li>
					<li> Use 'Autoplay' to automatically move to the next card after a delay</li>
					<li> Recommend your friends to download the app</li>
					<li> Clean and beautiful design</li>
					<li> No ads</li>
			</ul>
		</div>
		<img src="files/alphabet.png" alt="" class="rightsider">
		<br class="clear">
		<div class="highlight">
		<h2 class="highlight-title">Available in the following languages</h2>
		<ul class="applist">
			<li><a href="https://play.google.com/store/apps/details?id=com.amaltaas.alphabet.hi" style="background-image: url(files/ic_launcher_hi.png)"/>Hindi</a></li>
			<li><a href="https://play.google.com/store/apps/details?id=com.amaltaas.alphabet.mr" style="background-image: url(files/ic_launcher_mr.png)"/>Marathi</a></li>
			<li><a href="https://play.google.com/store/apps/details?id=com.amaltaas.alphabet.pu" style="background-image: url(files/ic_launcher_pu.png)"/>Punjabi</a></li>
		</ul>
		</div>
	</div>

	<div class="container">
		<hr/>
		<div class="column">
			<h2><span class="badge">8+</span> Brain games for all ages</h2>
			<ul>
				<li> Test your knowledge with a knowledge quiz, play a Sudoku puzzle or find your way with Word Search. Plus many more games to exercise those gray cells</li>
				<li> Set a goal and progress through it to show how smart you really are</li>
				<li> Brain games such as Quiz, Suduko, Word Search, Jumbled and more</li>
				<li> Clean and beautiful design</li>
				<li> No ads</li>
			</ul>
		</div>
		<img src="files/smarty.png" alt="" class="rightsider">
		<br class="clear">
		<div class="highlight">
		<a href="https://play.google.com/store/apps/details?id=com.amaltaas.smarty" id="downloadbtnlink"><img src="files/download-button.png" alt="Download Smarty on Google Play" id="downloadbtn"/>
		</div>
	</div>
{% include footer.html %}
