---
---
{% include header.html %}
	{% include nav.html %}

	<div class="container" id="top">
		<h2>Privacy Policy</h2>
		<p>Amaltaas ("developer", "we," "us," or "our") knows that you care about how your personal information is used and shared, and we take your privacy seriously. We've developed a privacy policy that covers how we collect, use, and store your information. Please take a moment to familiarize yourself with our privacy policy.</p>

		<h3>Collection and Use of Personal Information</h3>
		<p>You may be asked to provide your personal information anytime you are in contact with Amaltaas. Amaltaas and its affiliates may share this personal information with each other and use it consistent with this Privacy Policy. We may also combine it with other information to provide and improve our products, services, content, and advertising.</p>
		<p>When you register for email notifications, purchase a product, download a software update, or participate in an online survey, we may collect a variety of information, including your name, mailing address, phone number, email address, and contact preferences.</p>
		<p>The personal information we collect allows us to keep you posted on our latest product announcements, software updates, and upcoming events. It also helps us to improve our services, content, and advertising. If you don't want to be on our mailing list, you can opt out anytime by contacting us.</p>
		<p>We also use personal information to help us develop, deliver, and improve our products, services, content, and advertising.</p>
		<p>From time to time, we may use your personal information to send important notices, such as communications about purchases and changes to our terms, conditions, and policies. Because this information is important to your interaction with Amaltaas, you may not opt out of receiving these communications.</p>
		<p>If you enter into a sweepstake, contest, or similar promotion we may use the information you provide to administer those programs.</p>

		<h3>Collection and Use of Non&#8210;Personal Information</h3>
		<p>We also collect non&#8210;personal information; data that does not permit direct association with any specific individual. We may collect, use, transfer, and disclose non&#8210;personal information for any purpose. The following are some examples of non&#8210;personal information that we collect and how we may use it: app installation, interactions in&#8210;product, scores and other anonymous data related to your usage of our products or services.</p>
		<p>We also may collect information regarding customer activities on our website and from our other products and services. This information is aggregated and used to help us provide more useful information to our customers and to understand which parts of our website, products, and services are of most interest. Aggregated data is considered non&#8210;personal information for the purposes of this Privacy Policy.</p>

		<h3>Cookies and Other Technologies</h3>
		<p>Amaltaas's website (found at AmaltaasKids.com), online services, interactive applications, email messages, and advertisements may use "cookies" and other technologies such as pixel tags and web beacons. These technologies help us better understand user behavior, tell us which parts of our website people have visited, and facilitate and measure the effectiveness of advertisements and web searches. We treat information collected by cookies and other technologies as non&#8210;personal information. However, to the extent that Internet Protocol (IP) addresses or similar identifiers are considered personal information by local law, we also treat these identifiers as personal information. Similarly, to the extent that non&#8210;personal information is combined with personal information, we treat the combined information as personal information for the purposes of this Privacy Policy.</p>
		<p>As is true of most websites, we gather some information automatically and store it in log files. This information includes Internet Protocol (IP) addresses, browser type and language, Internet service provider (ISP), referring and exit pages, operating system, date/time stamp, and clickstream data.</p>
		<p>We use this information to understand and analyze trends, to administer the site, to learn about user behavior on the site, and to gather demographic information about our user base as a whole.</p>

		<h3<Disclosure to Third Parties</h3>
		<p>Personal information will only be shared by Amaltaas to provide or improve our products, services and advertising; it will not be shared with third parties for their marketing purposes.</p>
		<p>It may be necessary &#8211; by law, legal process, litigation, and/or requests from public and governmental authorities within or outside your country of residence &#8211; for Amaltaas to disclose your personal information. We may also disclose information about you if we determine that for purposes of national security, law enforcement, or other issues of public importance, disclosure is necessary or appropriate.</p>
		<p>We may also disclose information about you if we determine that disclosure is reasonably necessary to enforce our terms and conditions or protect our operations or users. Additionally, in the event of a reorganization, merger, or sale we may transfer any and all personal information we collect to the relevant third party.</p>

		<h3>Protection of Personal Information</h3>
		<p>Amaltaas takes precautions &#8211; including administrative, technical, and physical measures &#8211; to safeguard your personal information against loss, theft, and misuse, as well as against unauthorized access, disclosure, alteration, and destruction.</p>

		<h3>Children</h3>
		<p>We do not knowingly collect personal information from children under 13. If we learn that we have collected the personal information of a child under 13 without first receiving verifiable parental consent we will take steps to delete the information as soon as possible.</p>

		<h3>Third&#8210;Party Sites and Services</h3>
		<p>Amaltaas websites, products, applications, and services may contain links to third&#8210;party websites, products, and services. Our products and services may also use or offer products or services from third parties. Information collected by third parties, which may include such things as location data or contact details, is governed by their privacy practices. We encourage you to learn about the privacy practices of those third parties.</p>

		<h3>Our Commitment To You</h3>
		<p>To make sure your personal information is secure, we communicate our privacy and security guidelines to Amaltaas employees and strictly enforce privacy safeguards within the company.</p>

		<h3>Privacy Questions</h3>
		<p>If you have any questions or concerns about Amaltaas's Privacy Policy or data processing, please contact us.</p>
		<p>Amaltaas may update its Privacy Policy from time to time. When we change the policy in a material way, a notice will be posted on our website along with the updated Privacy Policy.</p>
		<p>Last updated: Oct 20, 2015</p>
	</div>
{% include footer.html %}
