
<div class="container" id="socialbuttons">
  <hr/>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_native_toolbox"></div>
    <div class="addthis_horizontal_follow_toolbox"></div>
</div>
<footer>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="download.html" id="footerlink">Download</a></li>
    <li><a href="about.html">Learn More</a></li>
    <li><a href="mailto:support@amaltaaskids.com">Get Support</a></li>
    <li><a href="privacy-policy.html">Privacy Policy</a></li>
  </ul>
  <br>

  <p>&copy; 2015 Amaltaas</p>
</footer>
</body>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-552f027e20d33478"
        async="async"></script>
</html>
