        <div class="row">
            <div class="col-sm-2">
                <ul class="list-unstyled">
                    <li><strong>APPS</strong></li>
                    <li><a href="">Alphabet</a></li>
                    <li><a href="">Books</a></li>
                    <li><a href="">Games</a></li>
                    <li><a href="">Paint</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="list-unstyled">
                    <li><strong>ABOUT</strong></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Press</a></li>
                    <li><a href="">Team</a></li>
                    <li><a href="">Jobs</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="list-unstyled">
                    <li><strong>SUPPORT</strong></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms of Use</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>
        </div>

        <div class="modal-footer">
            Copyright &copy; 2015 Amaltaas Team. All rights reserved.
        </div>
