<div class="jumbotron" id="hero-container" style="background-color: #a2c64c;">
    <div class="container">
        <div class="row hero-panel" id="hero-panel-paint">
            <img class="col-sm-6 hero-image" src="images/hero/paint.png"/>

            <div class="col-sm-6">
                <h1>Paint</h1>

                <h3>
                    Paint is a complete coloring and drawing application for young artists. It comes bundled with
                    custom backgrounds to draw, color and more.
                </h3>

                <div class="btn">
                    Learn More
                </div>
            </div>
        </div>
        <div class="row hero-panel hide" id="hero-panel-sudoku">
            <img class="col-sm-6 hero-image" src="images/hero/sudoku.png"/>

            <div class="col-sm-6">
                <h1>Sudoku</h1>

                <h3>
                    Sudoku is the classic puzzle game played on a 9x9 grid such that each row, column and 3x3 box is
                    filled with digits 1 to 9 only once. This delightful little application will provide you with
                    hours of engrossing fun, guaranteed.
                </h3>

                <div class="btn">
                    Learn More
                </div>
            </div>
        </div>
        <div class="row hero-panel hide" id="hero-panel-chess">
            <img class="col-sm-6 hero-image" src="images/hero/chess.png"/>

            <div class="col-sm-6">
                <h1>Chess</h1>

                <h3>
                    Chess is the classic strategy game played on an 8x8 grid where the goal is to <i>checkmate</i>
                    your opponent. This delightful little application will provide you with hours of engrossing fun,
                    guaranteed.
                </h3>

                <div class="btn">
                    Learn More
                </div>
            </div>
        </div>
        <div class="row hero-panel hide" id="hero-panel-jumbled">
            <img class="col-sm-6 hero-image" src="images/hero/jumbled.png"/>

            <div class="col-sm-6">
                <h1>Jumbled</h1>

                <h3>
                    Jumbled is the classic word game played on an NxN (where N is 4, 5 or 6) grid of letters, with
                    the goal of finding as many words as possible using adjacent letters (moving horizontally,
                    vertically or diagonally) in a given time limit.
                </h3>

                <div class="btn">
                    Learn More
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="images/logo-h-48.png"/></a>

            <div class="nav-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="/products.html">Apps</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/blog.html">Blog</a></li>
                    <li><a href="/support.html">Support</a></li>
                    <li><a href="/signin.html">Sign In</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- <script type="text/javascript" src="js/default.js"></script> -->
